{% extends 'Templates/layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <section class="home-slider owl-carousel js-fullheight">
        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <p><a href="#" class="scroll">Monsieur</a></p>
                        <h1 class="mb-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Jim Achour</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item js-fullheight">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text align-items-center text-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                        <p><a href="#" class="scroll">à Bordeaux</a></p>
                        <h1 class="mb-3" data-scrollax="properties: {translateY: '30%', opacity: 1.6}">Developpeur Web Fullstack</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END slider -->

    <section class="ftco-section about-section">
        <div class="container">
            <div class="row d-flex" data-scrollax-parent="true">
                <div class="col-md-4 author-img" style="background-image: url('/assets/images/author-1.jpg');" data-scrollax=" properties: { translateY: '-70%'}"></div>
                <div class="col-md-2"></div>
                <div class="col-md-6 wrap ftco-animate">
                    <div class="about-desc">
                        <h1 class="bold-text">About</h1>
                        <div class="p-5">
                            <h2 class="mb-5">Bonjour ! Je suis Jim Achour</h2>
                            <p>Passionné, Autodidacte puis Formé aux métiers du web au sein de la Wild Code School à Bordeaux.</p>
                            <p><a href="/portfolio/profil">Voir mon profil</a></p>
                            <ul class="ftco-footer-social list-unstyled mt-4">
                                <li><a href="#"><span class="icon-linkedin"></span></a></li>
                                <li><a href="#"><span class="icon-facebook"></span></a></li>
                                <li><a href="#"><span class="icon-viadeo"></span></a></li>
                            </ul>
                            <h5>Vous pouvez me contacter!</h5>
                            <p>E-mail : <a href="#">jimmyachour@hotmail.fr</a></p>
                            <p>Téléphone : <a href="#">06-17-16-43-99</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span>Technologies</span>
                    <h2>Maîtrise</h2>
                </div>
            </div>
            <div class="row home-capacities-box">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span class="icon-html5"></span></div>
                        <div class="media-body">
                            <h3 class="heading">HTML5</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span class="icon-css3"></span></div>
                        <div class="media-body">
                            <h3 class="heading">CSS3</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span><i class="fab fa-bootstrap"></i></span></div>
                        <div class="media-body">
                            <h3 class="heading">BOOTSTRAP 4</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><img src="/assets/images/twig.png"></div>
                        <div class="media-body">
                            <h3 class="heading">TWIG</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span class="icon-database"></span></div>
                        <div class="media-body">
                            <h3 class="heading">MYSQL</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span><i class="fab fa-php"></i></span></div>
                        <div class="media-body">
                            <h3 class="heading">PHP 7</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span><i class="fab fa-symfony"></i></span></div>
                        <div class="media-body">
                            <h3 class="heading">Symfony 4</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services p-3 py-4 d-block text-center">
                        <div class="icon mb-3"><span><i class="fab fa-github"></i></span></div>
                        <div class="media-body">
                            <h3 class="heading">Github</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span>Portfolio</span>
                    <h2>Apperçu de mes projets</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('/assets/images/humming.png'); " data-scrollax=" properties: { translateY: '-30%'}">
                        <div class="icon d-flex text-center justify-content-center align-items-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                    <div class="text">
                        <h4 class="subheading">Restauration</h4>
                        <h2 class="heading"><a href="portfolio-single.html">Humming néo snack bourdonnant de créativité</a></h2>
                        <p>Porteur de projet fictif avec comme objectif la réalisation d'un site web représentant un restaurant qui lui était bien réelle.</p>
                        <p><a href="#">Voir le projet</a></p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio-single.html" class="image order-2 d-flex justify-content-center align-items-center" style="background-image: url('/assets/images/eastereggs.png'); " data-scrollax=" properties: { translateY: '-30%'}">
                        <div class="icon d-flex text-center justify-content-center align-items-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                    <div class="text order-1">
                        <h4 class="subheading">Hackaton</h4>
                        <h2 class="heading"><a href="portfoli-singleo.html">Hackathon intra Wild Code School</a></h2>
                        <p>Sur le theme de paquet, nous avoins 24h pour réaliser un site web. Ce projet à remporté le concours de à son aboutissement et ses fonctionnalités.</p>
                        <p><a href="#">Voir le projet</a></p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                    <a href="portfolio-single.html" class="image d-flex justify-content-center align-items-center" style="background-image: url('/assets/images/trombi.png'); " data-scrollax=" properties: { translateY: '-30%'}">
                        <div class="icon d-flex text-center justify-content-center align-items-center">
                            <span class="icon-search"></span>
                        </div>
                    </a>
                    <div class="text">
                        <h4 class="subheading">Trombinoscope</h4>
                        <h2 class="heading"><a href="portfolio-single.html">Trombinoscope promo 2019</a></h2>
                        <p>Premier projet lancé dans au sein de la wild. L'objectif :  réaliser un trombinoscope en ligne de la promo 2019 de la Wild Code School.</p>
                        <p><a href="#">Voir le projet</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span>Portfolio</span>
                    <h2>I love to share my achievements</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-start">
                <div class="col-md-5 col-sm-5 counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text">
                            <span class="ftco-label">Clients</span>
                            <strong class="number" data-number="420">0</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-5 col-sm-5 counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text">
                            <span class="ftco-label">Project done</span>
                            <strong class="number" data-number="890">0</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-5 counter-wrap ftco-animate">
                    <div class="block-18">
                        <div class="text">
                            <span class="ftco-label">Cups of coffee</span>
                            <strong class="number" data-number="1000">0</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
